PORT=1234
NODE_ENV=development
DB_HOST=1.2.3.4
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_PORT=0700

DB_NAME_TEST=testdbname
DB_USER_TEST=testdbuser
DB_PASSWORD_TEST=testdbpassword
DB_PORT_TEST=0700